@page "{pokemonName}"
@model PokemonModel
@{
    ViewData["Title"] = "Pokemon: " + ViewData["pokemonName"];
}
<h1>@ViewData["Title"]</h1>
<p>This will be used to show a passed Sprite from the Index</p>
<h2>
    <img src="@Model.ImageUrl" />
</h2>
<table>
    @foreach (var pokemon in Model.PokedexDic)
    {
        <tr>
            <td>@pokemon.Key</td>
            <td>
                <img src="@pokemon.Value"/>
            </td>
        </tr>
    }
</table>
